<header class="center header" >
    <div id="header-text-column">
        <nav>
        {% for item in site.data.navigation %}
            <span class="header-button"><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></span>
        {% endfor %}
        </nav>
	<a href="/" style="text-decoration: none;"><h1>flapetr</h1></a>
    </div>
    <div id="header-img-column">
	    <a href="/about.html"><img class="zoom" src="/pictures/avatar_fab.jpeg"/></a>
    </div>
</header>
