.current {
    color: green;
}

.text-box {
    background-color: white;
    border-color: thin solid green;
}

.center {
    margin: auto;
    width: 66%;
    padding: 10px 10px 10px 10px;
}

.header {
    background-image: url('../../pictures/random_tile_g.png');
}

.header-button {
    background-color: white;
    margin: 0 5px;
    padding: 2px;
}

#header-title {
    text-shadow: 1px 5px #009933;
    color: #003300
}

h1 {
    font-size: 250%
}

h2 {
    font-size: 200%
}

h3 {
    font-size: 170%
}

p {
    font-size: 150%
}

nav {
    font-size: 150%
}
