.current {
    color: green;
}

.text-box {
    background-color: white;
    border-color: thin solid green;
}

.center {
    margin: auto;
    width: 66%;
}

.header {
    background-image: url('../../easter_tile.png');
}

h1 {
    font-size: 250%
}

h2 {
    font-size: 200%
}

h3 {
    font-size: 170%
}

p {
    font-size: 150%
}

nav {
    font-size: 150%
}
